h1.frog-title {
    display: block;
    color: green;
}

header {
    background-color: seagreen;
    width: 100%;
}

section.section-one {
    display: block;
    background-color: springgreen;
    color: white;
}

nav {
    border-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: seagreen;
}