/*

Before: 

h2.name-hdr {
    color: white;
    text-decoration: underline;
    text-decoration: linear-gradient(90deg, #ff40d6, #4604fc);
    margin: 15px;
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}*/


/* Below is the styling for my H2 in the Header; the :: after pseudoselector creates a line under the h2 */

h2.name-hdr {
    padding-bottom: 4px;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    color: white;
    display: flex;
    flex: auto;
}

h2.name-hdr::after {
    background: linear-gradient(90deg, #ff40d6, #4604fc);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 12%;
}

h3 {
    text-decoration-line: underline;
}

nav {
    border-radius: 15px;
    margin-bottom: 60px;
    padding: 15px;
    height: 60px;
    overflow: hidden;
    background-color: #333;
    border: 3px solid rgb(0, 0, 0);
}


li.link {
    list-style: none;
    position: relative;
    bottom: 10px;
}

a {
    font-weight: bold;
    float: right;
    margin: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

a:hover {
    color: rgb(119, 2, 252);
    background-color: rgb(34, 34, 34);
}

img {
    height: 300px;
    width: 300px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    image-resolution: 4000px;
    /* ^^ Idk if that did anything but one can hope. xD */
    border-radius: 160px;
    border: solid black 3px;
}

section.bio {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: black solid 3px;
    border-radius: 15px;
    background-color: rgba(51, 51, 51, 0.70);
}

.AM {
    margin: .5em;
    color: white;
    text-decoration: underline solid;

}


body {
    background-image: linear-gradient(90deg, #ff40d6, #4604fc);

}

/* CLasses for div's were not actually necessary nor were the div.classnames; just using .classname would have worked as well.
 // because the styling for all the divs are the same. */

div.HRF {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
}


div.vet {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 15px;
    border: 3px solid rgb(0, 0, 0)
}

div.CHD {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 15px;
    border: 3px solid rgb(0, 0, 0)
}

div.PSA {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 15px;
    border: 3px solid rgb(0, 0, 0)
}

div.kohls {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 15px;
    border: 3px solid rgb(0, 0, 0)
}

ul.ed-sect {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 25px;
    border: 3px solid rgb(0, 0, 0)
}

div:hover {
    background-color: #333;
}

ul.ed-sect:hover {
    background-color: #333
}

li.cert {
    margin: 6px;
}

footer {
    margin-top: 100px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0)
}

p {
    float: right;
    margin: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

h1.coming-soon {
    margin: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(51, 51, 51, 0.70);
    border-radius: 15px;
    overflow: hidden;
}

h1.coming-soon:hover {
    background-color: #333
}

/* 50px of padding applied in all directions: padding: 50px; */

/* 50px of padding applied vertically and 0px applied horizontally: padding: 50px 0; */

/* 10px of padding applied to the top: padding-top: 10px; */

/* 10px of padding applied to the right: padding-right: 10px; */

/* 10px of padding applied to the bottom: padding-bottom: 10px; */

/* 10px of padding applied to the left: padding-left: 10px; */