/*

Before: 

h2.name-hdr {
    color: white;
    text-decoration: underline;
    text-decoration: linear-gradient(90deg, #ff40d6, #4604fc);
    margin: 15px;
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}*/

h2.name-hdr {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    color: white;
}

h2.name-hdr::after {
    background: rgb(140, 0, 255);
    background: linear-gradient(90deg, #ff40d6, #4604fc);
    ;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 20%;
}

nav {
    border-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 3px solid rgb(0, 0, 0)
}


a {
    float: right;
    margin: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

a:hover {
    color: rgb(119, 2, 252);
}

body {
    background-image: linear-gradient(90deg, #ff40d6, #4604fc);

}

/* CLasses for div's were not actually necessary but add as a good practice.
 // because the styling for all the divs are the same. */

div.HRF {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
}


div.vet {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0)
}

div.CHD {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0)
}

div.PSA {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0)
}

div.kohls {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0)
}

ul.ed-sect {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 30px;
    border: 3px solid rgb(0, 0, 0)
}

div:hover {
    background-color: #333;
}

ul.ed-sect:hover {
    background-color: #333
}

li.cert {
    margin: 6px;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0)
}

p {
    float: right;
    margin: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

h1.coming-soon {
    margin: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(51, 51, 51, 0.70);
    border-radius: 15px;
    overflow: hidden;
}

h1.coming-soon:hover {
    background-color: #333
}

/* 50px of padding applied in all directions: padding: 50px; */

/* 50px of padding applied vertically and 0px applied horizontally: padding: 50px 0; */

/* 10px of padding applied to the top: padding-top: 10px; */

/* 10px of padding applied to the right: padding-right: 10px; */

/* 10px of padding applied to the bottom: padding-bottom: 10px; */

/* 10px of padding applied to the left: padding-left: 10px; */