h2.name-hdr {
    color: white;
    text-decoration: underline;
    margin: 15px;
    float: left;
    display: block;
    text-align: center;
}

nav {
    border-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


a {
    float: right;
    margin: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

a:hover {
    color: rgb(119, 2, 252);
}

body {
    background-image: linear-gradient(90deg, #ff40d6, #4604fc);

}

div.HRF {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}


div.vet {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

div.CHD {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

div.PSA {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

div.kohls {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

ul.ed-sect {
    background-color: rgba(51, 51, 51, 0.70);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

div:hover {
    background-color: #333;
}

ul.ed-sect:hover {
    background-color: #333
}

li.cert {
    margin: 6px;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

p {
    float: right;
    margin: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

h1.coming-soon {
    margin: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(51, 51, 51, 0.70);
    border-radius: 15px;
    overflow: hidden;
}

h1.coming-soon:hover {
    background-color: #333
}